[submodule "Hiraeth/submodules/GLFW"]
	path = Hiraeth/submodules/GLFW
	url = https://github.com/glfw/glfw
[submodule "Hiraeth/submodules/spdlog"]
	path = Hiraeth/submodules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hiraeth/submodules/ImGUI"]
	path = Hiraeth/submodules/ImGUI
	url = https://github.com/TheCherno/imgui/tree/docking
[submodule "Hiraeth/submodules/GLM"]
	path = Hiraeth/submodules/GLM
	url = https://github.com/g-truc/glm
